In this part one, we will be accomplishing the following steps:
1. Pull data from NSRDB using the Python API
    - If you would like to do this yourself, instructions are here: https://nsrdb.nrel.gov/api-instructions 
    - More information regarding NSRDB can be found here: https://rredc.nrel.gov/solar/old_data/nsrdb/1991-2005/tmy3/
2. Extract the Data to be analyzed for this problem
    - For this first time series analysis, we will just be looking at the total irradiance (Beam + Diffuse) as a univariate series.

In [1]:
#import dependencies
import pandas as pd
import numpy as np
import sys, os

import config

In [2]:
#looking at Minneapolis St. Paul Intl. Airport 

#list of years to pull
year_list = ['2009', '2010', '2011']
lat, lon= '44.8848', '-93.2223'
api_key = config.api_key
attributes = 'dhi,dni'
leap_year = 'false'
interval = '60'
utc = 'false'
your_name = config.name
reason_for_use = 'Education'
your_affiliation = 'Self+Employed'
your_email = config.email
mailing_list = 'false'

# Declare url string
for year in year_list:
    url = 'http://developer.nrel.gov/api/solar/nsrdb_0512_download.csv?wkt=POINT({lon}%20{lat})&names={year}&leap_day={leap}&interval={interval}&utc={utc}&full_name={name}&email={email}&affiliation={affiliation}&mailing_list={mailing_list}&reason={reason}&api_key={api}&attributes={attr}'.format(year=year, lat=lat, lon=lon, leap=leap_year, interval=interval, utc=utc, name=your_name, email=your_email, mailing_list=mailing_list, affiliation=your_affiliation, reason=reason_for_use, api=api_key, attr=attributes)
    df = pd.read_csv(url, skiprows=2)
    df = df.set_index(pd.date_range('1/1/{yr}'.format(yr=year), freq=interval+'Min', periods=525600/int(interval)))
    df.to_csv('data\\' + year + '_nsrdb_data.csv')

In [3]:
#get the irradiance data we want
df = pd.read_csv('data\\2010_nsrdb_data.csv')
print(df.head())

            Unnamed: 0  Year  Month  Day  Hour  Minute  DHI  DNI
0  2010-01-01 00:00:00  2010      1    1     0      30    0    0
1  2010-01-01 01:00:00  2010      1    1     1      30    0    0
2  2010-01-01 02:00:00  2010      1    1     2      30    0    0
3  2010-01-01 03:00:00  2010      1    1     3      30    0    0
4  2010-01-01 04:00:00  2010      1    1     4      30    0    0

In [4]:
#add the DHI and DNI columns together
df = pd.DataFrame()
for year in year_list:
    new_df = pd.read_csv('data\\' + year + '_nsrdb_data.csv')
    new_df = new_df.drop('Minute', axis=1)
    df = df.append(new_df)
tot_irrad = df['DHI'].values + df['DNI'].values
df['Total Irradiance'] = tot_irrad
df = df.drop(['DNI', 'DHI'], axis=1)
df

               Unnamed: 0  Year  Month  Day  Hour  Total Irradiance
0     2009-01-01 00:00:00  2009      1    1     0                 0
1     2009-01-01 01:00:00  2009      1    1     1                 0
2     2009-01-01 02:00:00  2009      1    1     2                 0
3     2009-01-01 03:00:00  2009      1    1     3                 0
4     2009-01-01 04:00:00  2009      1    1     4                 0
5     2009-01-01 05:00:00  2009      1    1     5                 0
6     2009-01-01 06:00:00  2009      1    1     6                 0
7     2009-01-01 07:00:00  2009      1    1     7                 0
8     2009-01-01 08:00:00  2009      1    1     8                94
9     2009-01-01 09:00:00  2009      1    1     9               295
10    2009-01-01 10:00:00  2009      1    1    10               181
11    2009-01-01 11:00:00  2009      1    1    11                69
12    2009-01-01 12:00:00  2009      1    1    12                84
13    2009-01-01 13:00:00  2009      1    1    13               880
14    2009-01-01 14:00:00  2009      1    1    14               804
15    2009-01-01 15:00:00  2009      1    1    15               666
16    2009-01-01 16:00:00  2009      1    1    16                 0
17    2009-01-01 17:00:00  2009      1    1    17                 0
18    2009-01-01 18:00:00  2009      1    1    18                 0
19    2009-01-01 19:00:00  2009      1    1    19                 0
20    2009-01-01 20:00:00  2009      1    1    20                 0
21    2009-01-01 21:00:00  2009      1    1    21                 0
22    2009-01-01 22:00:00  2009      1    1    22                 0
23    2009-01-01 23:00:00  2009      1    1    23                 0
24    2009-01-02 00:00:00  2009      1    2     0                 0
25    2009-01-02 01:00:00  2009      1    2     1                 0
26    2009-01-02 02:00:00  2009      1    2     2                 0
27    2009-01-02 03:00:00  2009      1    2     3                 0
28    2009-01-02 04:00:00  2009      1    2     4                 0
29    2009-01-02 05:00:00  2009      1    2     5                 0
...                   ...   ...    ...  ...   ...               ...
8730  2011-12-30 18:00:00  2011     12   30    18                 0
8731  2011-12-30 19:00:00  2011     12   30    19                 0
8732  2011-12-30 20:00:00  2011     12   30    20                 0
8733  2011-12-30 21:00:00  2011     12   30    21                 0
8734  2011-12-30 22:00:00  2011     12   30    22                 0
8735  2011-12-30 23:00:00  2011     12   30    23                 0
8736  2011-12-31 00:00:00  2011     12   31     0                 0
8737  2011-12-31 01:00:00  2011     12   31     1                 0
8738  2011-12-31 02:00:00  2011     12   31     2                 0
8739  2011-12-31 03:00:00  2011     12   31     3                 0
8740  2011-12-31 04:00:00  2011     12   31     4                 0
8741  2011-12-31 05:00:00  2011     12   31     5                 0
8742  2011-12-31 06:00:00  2011     12   31     6                 0
8743  2011-12-31 07:00:00  2011     12   31     7                 0
8744  2011-12-31 08:00:00  2011     12   31     8                11
8745  2011-12-31 09:00:00  2011     12   31     9                51
8746  2011-12-31 10:00:00  2011     12   31    10                54
8747  2011-12-31 11:00:00  2011     12   31    11               197
8748  2011-12-31 12:00:00  2011     12   31    12               313
8749  2011-12-31 13:00:00  2011     12   31    13               463
8750  2011-12-31 14:00:00  2011     12   31    14               165
8751  2011-12-31 15:00:00  2011     12   31    15               134
8752  2011-12-31 16:00:00  2011     12   31    16                 0
8753  2011-12-31 17:00:00  2011     12   31    17                 0
8754  2011-12-31 18:00:00  2011     12   31    18                 0
8755  2011-12-31 19:00:00  2011     12   31    19                 0
8756  2011-12-31 20:00:00  2011     12   31    20                 0
8757  2011-12-31 21:00:00  2011     12   31    21                 0
8758  2011-12-31 22:00:00  2011     12   31    22                 0
8759  2011-12-31 23:00:00  2011     12   31    23                 0

[26280 rows x 6 columns]

In the next section, we'll be diving into lots of analysis of the temporal structure of the data including the seasonality both from day to day and year to year.  Hope to see you there!